.footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 40px 20px;
  border-top: 1px solid #222;
  font-family: "Alegreya", serif;
}

.footer-content img, .footer-links{
  margin-bottom: 15px;
}
.footer-content img {
  width: 120px;
  height: auto;
}

.footer-content p {
  font-size: 0.95rem;
  max-width: 500px;
  margin: 0 auto 25px;

}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.2s ease;
}

.footer-links a:hover {
  color: #1db954; /* subtle accent green */
}

.footer-bottom {
  font-size: 0.85rem;
  color: #aaa;
  border-top: 1px solid #222;
  padding-top: 15px;
}
